<div id="company-list-{{id}}" class="table-wrapper" #wrapper>
	<div class="header">
		<h2>{{ details?.title || 'Toutes les sociétés' }}</h2>
		<app-edit-toolbar select="div#company-list-{{id}}"
			(onModify)="modifySelected($event)" (onDelete)="deleteSelected($event)"></app-edit-toolbar>
	</div>
	<mat-table id="companyTable-{{details?.title}}" [dataSource]="dataSource" matSort>
		<ng-container matColumnDef="id">
			<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="trigram">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Trigramme </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.trigram}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="siren">
			<mat-header-cell *matHeaderCellDef mat-sort-header> SIREN </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.siren }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="rcs">
			<mat-header-cell *matHeaderCellDef mat-sort-header> RCS </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.rcs }} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row [title]="row.id" *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
	<mat-paginator [length]="dataSource.length"
		[pageIndex]="0"
		[pageSize]="5"
		[pageSizeOptions]="[5, 10, 15, 20, 25]">
	</mat-paginator>
</div>
