<entity-list [entityColumns]="displayedColumns" [listTitle]="listTitle" [filter]="filter" [filterContext]="filterContext">
	<ng-template let-entity #colId>
		{{ entity.id }}
	</ng-template>
	<ng-template let-entity #colTrigram>
		{{ entity.trigram }}
	</ng-template>
	<ng-template let-entity #colName>
		{{ entity.name }}
	</ng-template>
	<ng-template let-entity #colSiren>
		{{ entity.siren }}
	</ng-template>
	<ng-template let-entity #colSiret>
		{{ entity.siret }}
	</ng-template>
	<ng-template let-entity #colRcs>
		{{ entity.rcs }}
	</ng-template>
	<ng-template let-entity #colAddress>
			{{ entity.address }}
		</ng-template>
	<ng-template let-entity #colTravelCosts>
		<field-check [checked]="entity.travelCosts"></field-check>
	</ng-template>
</entity-list>
