<app-layout-list [listTitle]="details?.title || 'Tous les clients'" [filter]="details?.filter" [sort]="details?.sort"
	[data]="data" [template]="entityTemplate" (onModify)="modifySelected($event)" (onDelete)="deleteSelected($event)">
	<th>Id</th>
	<th>Trigramme</th>
	<th>Nom</th>
	<th>SIREN</th>
	<th>RCS</th>
	<ng-template let-entity #entityTemplate>
		<td>{{ entity.id }}</td>
		<td>{{ entity.trigram }}</td>
		<td>{{ entity.name }}</td>
		<td>{{ entity.siren }}</td>
		<td>{{ entity.rcs }}</td>
	</ng-template>
</app-layout-list>
