<div class="dashboard">
	<div>
		<invoice-list listTitle="Factures à payer" [filter]="pendingInvoices" [filterContext]="this"
			[columns]="['client', 'label', 'amount']"></invoice-list>
	</div>
	<div>
		<estimate-list listTitle="Devis à signer" [filter]="pendingEstimates" [filterContext]="this"
			[columns]="['client', 'amount', 'date']"></estimate-list>
	</div>
	<div>
		<mission-list listTitle="Missions en cours" [filter]="pendingMissions" [filterContext]="this"
			[columns]="['client', 'title', 'duration', 'tjm']"></mission-list>
	</div>
</div>