<div class="container">
	<form method="post" (ngSubmit)="f.form.valid && login()" #f="ngForm">
		<mat-form-field>
			<input matInput id="username" name="username" placeholder="Nom d'utilisateur"
				[(ngModel)]="account.username" required />
		</mat-form-field>
		<mat-form-field>
			<input matInput id="password" name="password" type="password" placeholder="Mot de passe"
				[(ngModel)]="account.password" required />
		</mat-form-field>
		<button class="btn" [ngClass]="{'btn-primary': f.form.valid}">Valider</button>
	</form>
</div>