<h2>{{ new ? 'Créer un nouvel événement' : 'Mettre un événement à jour' }}</h2>
<form (ngSubmit)="submit(model)" #model="ngForm">
	<app-mission-combobox [(selection)]="event.mission"></app-mission-combobox>
	<app-datepicker [(selection)]="invoice.mdStart" label="Date de début"
		name="start"></app-datepicker>
	<app-datepicker [(selection)]="invoice.mdEnd" label="Date de fin"
		name="end"></app-datepicker>
	<button mat-raised-button color="primary" [disabled]="!model.form.valid">Valider</button>
</form>