<h2>{{ new ? 'Créer un nouvel événement' : 'Mettre un événement à jour' }}</h2>
<form (ngSubmit)="submit()">
	<mat-form-field>
		<mat-select name="missionId" placeholder="Mission"
			[(ngModel)]="event.missionId">
			<mat-option *ngFor="let mission of missions" [value]="mission.id">
				{{ mission.label }} - {{ mission.title }}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<input matInput type="date" name="start" placeholder="Début" 
			[ngModel]="event.start | date:'yyyy-MM-dd'" (ngModelChange)="event.start = $event"/>
	</mat-form-field>
	<mat-form-field>
		<input matInput type="date" name="end" placeholder="Fin" 
			[ngModel]="event.end | date:'yyyy-MM-dd'" (ngModelChange)="event.end = $event"/>
	</mat-form-field>
	<button mat-raised-button color="primary" [disabled]="!model.form.valid">Valider</button>
</form>