<entity-edit [id]="id" createTitle="Créer un utilisateur" updateTitle="Mettre un utilisateur à jour">
	<ng-template let-account #formContent>
		<mat-form-field>
			<input matInput name="username" placeholder="Nom d'utilisateur"
				[(ngModel)]="account.username" required />
		</mat-form-field>
		<ng-container *ngIf="!account.id">
			<mat-form-field>
				<input matInput name="password" placeholder="Mot de passe"
					[(ngModel)]="account.password" required />
			</mat-form-field>
		</ng-container>
		ROLE: {{ account.role?.name }}
	</ng-template>
</entity-edit>
