<h2>{{ new ? 'Créer une nouvelle facture' : 'Mettre une facture à jour' }}</h2>
<form (ngSubmit)="submit(model)" #model="ngForm" [ngClass]="{'submitted': model.form.valid}">
	<mat-form-field>
		<input matInput name="clientId" placeholder="Client" [(ngModel)]="invoice.client"
			 [matAutocomplete]="clientAC" [formControl]="clientControl" />
		<mat-autocomplete #clientAC="matAutocomplete" [displayWith]="displayCompany">
			<mat-option *ngFor="let company of filteredCompanies | async" [value]="company">
				<span>{{company.name}}</span>
				<small>({{company.trigram}})</small>
				</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-form-field>
		<input matInput type="number" id="amount" name="amount" placeholder="Montant" 
			[(ngModel)]="invoice.amount" min="O" step=0.05 required />
	</mat-form-field>
	<mat-form-field>
		<input matInput type="date" id="creationDate" name="creationDate" placeholder="Date de création" 
			[ngModel]="invoice.creationDate | date:'yyyy-MM-dd'" (ngModelChange)="invoice.creationDate = $event"
			required />
	</mat-form-field>
	<mat-form-field>
		<input matInput id="label" name="label" placeholder="Label" 
			[(ngModel)]="invoice.label" required />
	</mat-form-field>
	<mat-form-field *ngIf="invoice.received">
		<input matInput type="date" id="receptionDate" name="receptionDate" placeholder="Reception du paiement" 
			[ngModel]="invoice.receptionDate | date:'yyyy-MM-dd'" (ngModelChange)="invoice.receptionDate = $event"
			required />
	</mat-form-field>
	<section>
		<mat-checkbox id="pending" name="pending" [(ngModel)]="invoice.pending">
			En attente
		</mat-checkbox>
		<mat-checkbox id="received" name="received" [(ngModel)]="invoice.received">
			Payée
		</mat-checkbox>
		<mat-checkbox id="travelC" name="travelC" [(ngModel)]="invoice.travelCosts">
			Frais
		</mat-checkbox>
	</section>
	<button mat-raised-button color="primary" [disabled]="!model.form.valid">Valider</button>
</form>