<entity-list [listTitle]="listTitle" [entityColumns]="displayedColumns" [filter]="filter" [filterContext]="filterContext">
    <ng-template let-entity #colId>
        {{ entity.id }}
    </ng-template>
    <ng-template let-entity #colLabel>
        {{ entity.label }}
    </ng-template>
    <ng-template let-entity #colClient>
        <app-company-ref [id]="entity.client.id"></app-company-ref>
    </ng-template>
    <ng-template let-entity #colCreationDate>
        {{ entity.creationDate | date:'dd/MM/yyyy' }}
    </ng-template>
    <ng-template let-entity #colAmount>
        {{ entity.amount | currency:'€' }}
    </ng-template>
    <ng-template let-entity #colPending>
        <app-status-field [status]="entity.pending"></app-status-field>
    </ng-template>
    <ng-template let-entity #colReceived>
        <app-status-field [status]="entity.received"></app-status-field>
    </ng-template>
    <ng-template let-entity #colReceptionDate>
        {{ entity.receptionDate | date:'dd/MM/yyyy' }}
    </ng-template>
    <ng-template let-entity #colTravelCosts>
        <app-status-field [status]="entity.travelCosts"></app-status-field>
    </ng-template>
</entity-list>