:host {
	flex: 2;
	margin: 0 15px;
}

mat-row[matRipple] {
	cursor: pointer;
}

app-invoice-details {
	opacity: 1;
	transition: 50ms opacity;
	transition-delay: 225ms;
}

app-invoice-details.expansible {
	opacity: 0;
	transition: 50ms opacity;
}