<entity-edit [id]="id" createTitle="Créer un devis" updateTitle="Mettre un devis à jour">
	<ng-template let-estimate #formContent>
		<app-company-combobox [(selection)]="estimate.client"></app-company-combobox>
		<mat-form-field>
			<input matInput type="number" name="amount" placeholder="Montant"
				[(ngModel)]="estimate.amount" min="O" step=0.05 required />
		</mat-form-field>
		<field-date [(selection)]="estimate.mdCreation" label="Date de création"
			name="creationDate"></field-date>
		<section>
			<mat-checkbox name="signed" [(ngModel)]="estimate.signed">
				Signé
			</mat-checkbox>
		</section>
	</ng-template>
</entity-edit>