<entity-card [id]="id" avatar="estimate" [actions]="['delete']">
	<ng-template let-estimate #cardTitle>
		Détails du devis n°{{ estimate.id }}
	</ng-template>
	<ng-template let-estimate #cardSubtitle>
		{{ estimate.date | date:'dd/MM/yyyy' }}
	</ng-template>
	<ng-template let-estimate #cardContent>
		<div>
			<label>Client</label>
			<company-ref [id]="estimate.client.id"></company-ref>
		</div>
		<div>
			<label>Montant</label>
			<span>{{ estimate.amount | currency:'€' }}</span>
		</div>
		<div>
			<label>Signé</label>
			<field-check [checked]="estimate.signed"></field-check>
		</div>
	</ng-template>
</entity-card>