<mat-toolbar class="navbar-collapse">
	<mat-toolbar-row>
		<div id="brand" routerLink="/">
			<mat-icon svgIcon="brand_1"></mat-icon>
			<div>
				Forme application
			</div>
		</div>
		<div id="menu">
			<span id="wrapper">
				<span>
					<button mat-button color="primary" routerLink="/invoice">Factures</button>
				</span>
				<span>
					<button mat-button color="primary" routerLink="/company">Clients</button>
				</span>
				<span>
					<button mat-button color="primary" routerLink="/estimate">Devis</button>
				</span>
				<span>
					<button mat-button color="primary" routerLink="/mission">Missions</button>
				</span>
				<span>
					<button mat-button color="primary" routerLink="/agenda">Agenda</button>
				</span>
				<span>
					<button mat-button color="primary" routerLink="/planning">Planning</button>
				</span>
				<span>
					<button mat-button color="primary" routerLink="/event">Créer un événement</button>
				</span>
			</span>
		</div>
		<div class="user-infos">
			<ng-container *ngIf="loggedIn; else elseTmpl">
				<button mat-button color="primary" (click)="logout()" mat-raised-button color="warn">Se déconnecter</button>
			</ng-container>
			<ng-template #elseTmpl>
				<button mat-button color="primary" routerLink="/login" mat-raised-button color="primary">Se connecter</button>
			</ng-template>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
<div id="main" [ngClass]="{ 'container': !wideScreen }">
	<router-outlet></router-outlet>
</div>
