<div class="planning-month" *ngFor="let calendar of calendars">
	<h2>
		{{ calendar.strMonth }}
		<app-edit-toolbar (onModify)="modifyEvent()" (onDelete)="deleteEvents()"></app-edit-toolbar>
	</h2>
	<mwl-calendar-month-view [viewDate]="calendar.viewDate" [events]="calendar.events" (click)="onDaySelect($event)"
		(eventClicked)="onEventSelect($event)"></mwl-calendar-month-view>
</div>
<div class="planning-nav nav-prev" (click)="incrMonthOffset(-1)">
	<span><</span>
</div>
<div class="planning-nav nav-next" (click)="incrMonthOffset(1)">
	<span>></span>
</div>