app-planning {
	position: fixed;
	left: 0;
	top: 80px;
	right: 0;
	bottom: 0;

}

div.planning-month h2 {
	text-align: center;
}

div.planning-month {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 45%;
	height: 45%;
}

div.planning-month:nth-child(1) {
	transform: translate(-105%, -100%);
}

div.planning-month:nth-child(2) {
	transform: translate(5%, -100%);
}

div.planning-month:nth-child(3) {
	transform: translate(-105%, 0%);
}

div.planning-month:nth-child(4) {
	transform: translate(5%, 0%);
}

.planning-nav {
	position: absolute;
	top: 50%;
}

.planning-nav.nav-next {
	right: 0;
}

.planning-nav.nav-prev {
	left: 0;
}

.planning-nav span {
	font-size: 5em;
	color: grey;
}

.planning-nav:hover {
	cursor: pointer;
}

.planning-nav:hover span {
	color: lightgrey;
}