<entity-edit [id]="id" createTitle="Créer une facture" updateTitle="Mettre une facture à jour">
	<ng-template let-invoice #formContent>
		<company-combobox [(selection)]="invoice.client"></company-combobox>
		<mat-form-field>
			<input matInput type="number" id="amount" name="amount" placeholder="Montant" 
				[(ngModel)]="invoice.amount" min="O" step="0.05" required />
		</mat-form-field>
		<field-date [(selection)]="invoice.mdCreation" label="Date de création"
			name="creationDate"></field-date>
		<mat-form-field>
			<input matInput id="label" name="label" placeholder="Label" 
				[(ngModel)]="invoice.label" required />
		</mat-form-field>
		<field-date *ngIf="invoice.received" [(selection)]="invoice.mdReception" label="Date de réception"
			name="receptionDate"></field-date>
		<section>
			<mat-checkbox id="pending" name="pending" [(ngModel)]="invoice.pending">
				En attente
			</mat-checkbox>
			<mat-checkbox id="received" name="received" [(ngModel)]="invoice.received">
				Payée
			</mat-checkbox>
			<mat-checkbox id="travelC" name="travelC" [(ngModel)]="invoice.travelCosts">
				Frais
			</mat-checkbox>
		</section>
	</ng-template>
</entity-edit>