<entity-card [id]="id" avatar="company" [actions]="['delete']">
	<ng-template let-company #cardTitle>
		Détails du client n°{{company.id}}
	</ng-template>
	<ng-template let-company #cardSubtitle>
		{{ company.name }}
	</ng-template>
	<ng-template let-company #cardContent>
		<div>
			<label>Trigramme</label>
			<span>{{ company.trigram }}</span>
		</div>
		<div>
			<label>Adresse</label>
			<span>{{ company.address }}</span>
		</div>
		<div>
			<label>SIREN</label>
			<span>{{ company.siren }}</span>
		</div>
		<div>
			<label>SIRET</label>
			<span>{{ company.siret }}</span>
		</div>
		<div>
			<label>RCS</label>
			<span>{{ company.rcs }}</span>
		</div>
	</ng-template>
</entity-card>