<entity-list [listTitle]="listTitle" [entityColumns]="displayedColumns" (onSelect)="select($event)"
    [filter]="filter" [filterContext]="filterContext">
    <ng-template let-entity formeTemplate="colInvoiceClient">
        <company-ref [id]="entity.client?.id"></company-ref>
    </ng-template>
    <ng-template let-entity formeTemplate="colInvoiceCreationDate">
        {{ entity.creationDate | date:'dd/MM/yyyy' }}
    </ng-template>
    <ng-template let-entity formeTemplate="colInvoiceAmount">
        {{ entity.amount | currency:'€' }}
    </ng-template>
    <ng-template let-entity formeTemplate="colInvoicePending">
        <field-check [checked]="entity.pending"></field-check>
    </ng-template>
    <ng-template let-entity formeTemplate="colInvoiceReceived">
        <field-check [checked]="entity.received"></field-check>
    </ng-template>
    <ng-template let-entity formeTemplate="colInvoiceReceptionDate">
        {{ entity.receptionDate | date:'dd/MM/yyyy' }}
    </ng-template>
    <ng-template let-entity formeTemplate="colInvoiceTravelCosts">
        <field-check [checked]="entity.travelCosts"></field-check>
    </ng-template>
</entity-list>