<entity-list [listTitle]="listTitle" [entityColumns]="displayedColumns" (onSelect)="select($event)"
    [filter]="filter" [filterContext]="filterContext">
    <ng-template let-entity #colInvoiceId>
        {{ entity.id }}
    </ng-template>
    <ng-template let-entity #colInvoiceLabel>
        {{ entity.label }}
    </ng-template>
    <ng-template let-entity #colInvoiceClient>
        <app-company-ref [id]="entity.client.id"></app-company-ref>
    </ng-template>
    <ng-template let-entity #colInvoiceCreationDate>
        {{ entity.creationDate | date:'dd/MM/yyyy' }}
    </ng-template>
    <ng-template let-entity #colInvoiceAmount>
        {{ entity.amount | currency:'€' }}
    </ng-template>
    <ng-template let-entity #colInvoicePending>
        <field-check [checked]="entity.pending"></field-check>
    </ng-template>
    <ng-template let-entity #colInvoiceReceived>
        <field-check [checked]="entity.received"></field-check>
    </ng-template>
    <ng-template let-entity #colInvoiceReceptionDate>
        {{ entity.receptionDate | date:'dd/MM/yyyy' }}
    </ng-template>
    <ng-template let-entity #colInvoiceTravelCosts>
        <field-check [checked]="entity.travelCosts"></field-check>
    </ng-template>
</entity-list>