<ng-container *ngIf="invoice">
	<mat-card>
		<mat-card-header [hidden]="hideTitle">
			<div mat-card-avatar class="invoice-details-icon"></div>
			<mat-card-title>Détails de la facture n°{{invoice.id}}</mat-card-title>
			<mat-card-subtitle>{{ invoice.creationDate | date:'dd/MM/yyyy' }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<table>
				<thead>
					<tr>
						<th class="labels"></th>
						<th class="values"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Client</td>
						<td>
							<app-company-ref [id]="invoice.client.id"></app-company-ref>
						</td>
					</tr>
					<tr>
						<td>Montant</td>
						<td>{{ invoice.amount | currency:'€' }}</td>
					</tr>
					<tr>
						<td>Reception</td>
						<td *ngIf="invoice.received; else elseTmpl"> le {{ invoice.receptionDate | date:'dd/MM/yyyy' }}</td>
						<ng-template #elseTmpl>
							<td>false</td>
						</ng-template>
					</tr>
				</tbody>
			</table>
			<table>
				<thead>
					<tr>
						<th class="labels"></th>
						<th class="values"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Label</td>
						<td>{{ invoice.label }}</td>
					</tr>
					<tr>
						<td>En attente</td>
						<td>
							<app-status-field [status]="invoice.pending"></app-status-field>
						</td>
					</tr>
					<tr>
						<td>Payée</td>
						<td>
							<app-status-field [status]="invoice.received"></app-status-field>
						</td>
					</tr>
				</tbody>
			</table>
		</mat-card-content>
		<mat-card-actions>
			<app-edit-toolbar (onModify)="modifySelected()"
				(onDelete)="deleteSelected()"></app-edit-toolbar>
		</mat-card-actions>
	</mat-card>
</ng-container>