<div id="status" #container>
	<hr />
	<div class="invoice-wrapper" *ngFor="let invoiceGroup of invoices"
		[ngStyle]="{'left': getMonthPos(container.clientWidth, invoiceGroup[0])}">
		<div class="invoice" *ngFor="let invoice of invoiceGroup[1]; index as i;">
			{{ invoice.id }}
		</div>
	</div>
	<div class="month" *ngFor="let month of months; index as i;"
		[ngStyle]="{'left': getMonthPos(container.clientWidth, i), 'width': container.clientWidth / months.length + 'px' }">
		<span>{{ month }}</span>
	</div>
	<div id="turnovers">
		<div id="last" class="turnover">
			Année {{ currentYear - 1 }} : {{ calculateTurnover(currentYear - 1) | currency:'EUR':'symbol':'4.2-2' }}
		</div>
		<div id="current" class="turnover">
			Année {{ currentYear }} : {{ calculateTurnover(currentYear) | currency:'EUR':'symbol':'4.2-2' }}
		</div>
	</div>
</div>
<div class="dashboard">
	<app-invoice-list listTitle="Factures à déclarer" [filter]="toDeclareFilter"></app-invoice-list>
	<app-invoice-list listTitle="Factures en attente" [filter]="pendingFilter"></app-invoice-list>
	<app-mission-list listTitle="Mission en cours" [filter]="missionFilter"
		[columns]="['clientId', 'title', 'duration', 'tjm']"></app-mission-list>
</div>