<div id="status" #container>
	<hr />
	<ng-container *ngIf="loaded">
		<div class="invoice-wrapper" *ngFor="let invoiceGroup of invoices" [ngStyle]="{'left': getMonthPos(container.clientWidth, invoiceGroup[0])}">
			<div class="invoice" *ngFor="let invoice of invoiceGroup[1]; index as i;">
				{{ invoice.id }}
			</div>
		</div>
		<div class="month" *ngFor="let month of months; index as i;" [ngStyle]="{'left': getMonthPos(container.clientWidth, i), 'width': container.clientWidth / months.length + 'px' }">
			<span>{{ month }}</span>
		</div>
	</ng-container>
	<div id="turnovers">
		<div id="last" class="turnover">
			Année {{ currentYear - 1 }} : {{ calculateTurnover(currentYear - 1) | currency:'EUR':'symbol':'4.2-2' }}
		</div>
		<div id="current" class="turnover">
			Année {{ currentYear }} : {{ calculateTurnover(currentYear) | currency:'EUR':'symbol':'4.2-2' }}
		</div>
	</div>
</div>
<div class="dashboard">
	<div>
		<invoice-list listTitle="Factures à déclarer" [columns]="['label', 'amount', 'received']" [filter]="toDeclareFilter"></invoice-list>
	</div>
	<div>
		<invoice-list listTitle="Factures en attente" [columns]="['client', 'label', 'creationDate']" [filter]="pendingFilter"></invoice-list>
	</div>
	<div>
		<mission-list listTitle="Mission en cours" [columns]="['client', 'title', 'duration', 'tjm']" [filter]="missionFilter"></mission-list>
	</div>
</div>