<ng-container *ngIf="account.isAdmin; else noAuthTmpl">
	<mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile>
			<invoice-list></invoice-list>
		</mat-grid-tile>
		<mat-grid-tile>
			<mission-list></mission-list>
		</mat-grid-tile>
		<mat-grid-tile>
			<company-list></company-list>	
		</mat-grid-tile>
		<mat-grid-tile>
			<estimate-list></estimate-list>
		</mat-grid-tile>
	</mat-grid-list>
</ng-container>
<ng-template #noAuthTmpl>
	<div class="dashboard">
		<div id="noAuth" class="container alert alert-danger">Veuillez vous authentifier pour voir cette page.</div>
	</div>
</ng-template>