<mat-tab-group>
	<mat-tab label="Default">
		<div class="dashboard">
			<app-invoice-list></app-invoice-list>
			<app-invoice-list></app-invoice-list>
			<!-- <app-mission-list></app-mission-list>
			<app-company-list></app-company-list>
			<app-estimate-list></app-estimate-list> -->
		</div>
	</mat-tab>
	<mat-tab label="Client" *ngIf="isAdmin || isClient">
		<app-client-dashboard></app-client-dashboard>
	</mat-tab>
	<mat-tab label="Admin" *ngIf="isAdmin">
		<app-admin-dashboard></app-admin-dashboard>
	</mat-tab>
</mat-tab-group>
<!-- <ng-template #noAuthTmpl>
	<div class="dashboard">
		<div id="noAuth" class="container alert alert-danger">Veuillez vous authentifier pour voir cette page.</div>
	</div>
</ng-template> -->