:host {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div.header {
	display: inline-flex;
}

div.header mat-icon {
	font-size: 32px;
	padding-top: 20px;
	margin-left: 5px;
}

input[type=file] {
	display: none;
}

mat-row[matRipple] {
	cursor: pointer;
}

div.noData {
	padding: 5px;
	text-align: center;
}

div.loading {
	position: relative;
}

div.loading {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}