:host {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}

img {
	height: 25px;
	width: 25px;
	transition: transform 0.2s;
}

img:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
	transition: transform 0.2s;
}