<entity-list [entityColumns]="displayedColumns" [listTitle]="listTitle" [filter]="filter" [filterContext]="filterContext">
	<ng-template let-entity #colId>
		{{ entity.id }}
	</ng-template>
	<ng-template let-entity #colClient>
		<app-company-ref [id]="entity.client.id"></app-company-ref>
	</ng-template>
	<ng-template let-entity #colLabel>
		{{ entity.label }}
	</ng-template>
	<ng-template let-entity #colTitle>
		{{ entity.title }}
	</ng-template>
	<ng-template let-entity #colDuration>
		{{ entity.duration / 7 }} ({{ entity.duration }}h)
	</ng-template>
	<ng-template let-entity #colTjm>
		{{ entity.tjm }} €/j
	</ng-template>
	<ng-template let-entity #colType>
		{{ entity.type }}
	</ng-template>
	<ng-template let-entity #colTravelCosts>
		<field-check [checked]="entity.travelCosts"></field-check>
	</ng-template>
	<ng-template let-entity #colClosed>
		<field-check [checked]="entity.closed"></field-check>
	</ng-template>
	<ng-template let-entity #colPlace>
		{{ entity.place }}
	</ng-template>
</entity-list>