<div id="mission-list-{{id}}" class="table-wrapper">
	<div class="header">		
		<h2>
			{{ details?.title || 'Toutes les missions' }}
			<app-edit-toolbar select="div#mission-list-{{id}}"
				(onModify)="modifySelected($event)" (onDelete)="deleteSelected($event)"></app-edit-toolbar>
		</h2>
	</div>
	<mat-table id="missionTable-{{details?.title}}" [dataSource]="dataSource" matSort>
		<ng-container matColumnDef="id">
			<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="clientId">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Client </mat-header-cell>
			<mat-cell *matCellDef="let row">
				<app-company-ref [id]="row.clientId"></app-company-ref>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="type">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.type === 0 ? 'DEV' : 'Formation'}} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="duration">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Durée </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.duration}}h ({{(row.duration / 7)}}j) </mat-cell>
		</ng-container>
		<ng-container matColumnDef="tjm">
			<mat-header-cell *matHeaderCellDef mat-sort-header> TJM (€/j) </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.tjm }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="label">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Label </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.label }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Titre </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.title }} </mat-cell>
		</ng-container>
		<ng-container matColumnDef="travelCosts">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Frais </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.travelCosts || 'false' }} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row [title]="row.id" *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
	<mat-paginator [length]="dataSource.length"
		[pageIndex]="0"
		[pageSize]="5"
		[pageSizeOptions]="[5, 10, 15, 20, 25]">
	</mat-paginator>
</div>		