/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-calendar/dist/css/angular-calendar.css';

div.dashboard .table-wrapper {
	float: left;
	width: 42%;
	margin-left: 40px;
	margin-right: 20px;
}

div#infos mat-table {
	float: left;
	width: 31%;
}

.cal-month-view .cal-cell-top {
	height: 55px;
	min-height: 0 !important;
}

.cal-month-view .cal-day-cell {
	height: 55px;
	min-height: 0 !important;
}

form {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

form > *.mat-form-field {
	width: 100%;
	margin-bottom: 10px;
}

form > section {
	display: flex;
	align-content: center;
	align-items: center;
	height: 60px;
}

form > section > mat-checkbox {
	margin: 0 10px;
}

.mat-row-selected {
	background-color: lightblue;
}