/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

@import url('../node_modules/angular-calendar/dist/css/angular-calendar.css');

div.dashboard div.fm-list {
	float: left;
	width: 45%;
}

.cal-month-view .cal-cell-top {
	height: 55px;
	min-height: 0 !important;
}

.cal-month-view .cal-day-cell {
	height: 55px;
    min-height: 0 !important;
}