<h2>{{ new ? 'Créer un nouveau devis' : 'Mettre un devis à jour' }}</h2>
<form (ngSubmit)="submit(model)" #model="ngForm">
	<app-company-combobox [(selection)]="estimate.client"></app-company-combobox>
	<mat-form-field>
		<input matInput type="number" name="amount" placeholder="Montant"
			[(ngModel)]="estimate.amount" min="O" step=0.05 required />
	</mat-form-field>
	<mat-form-field>
		<input matInput [matDatepicker]="pickerCrea" placeholder="Date de création"
			[(ngModel)]="estimate.mdCreation" name="creationDate" disabled required>
		<mat-datepicker-toggle matSuffix [for]="pickerCrea"></mat-datepicker-toggle>
		<mat-datepicker disabled="false" #pickerCrea></mat-datepicker>
	</mat-form-field>
	<section>
		<mat-checkbox name="signed" [(ngModel)]="estimate.signed">
			Signé
		</mat-checkbox>
	</section>
	<button mat-raised-button color="primary" [disabled]="!model.form.valid">Valider</button>
</form>