<h2>{{ new ? 'Créer un nouveau devis' : 'Mettre un devis à jour' }}</h2>
<form (ngSubmit)="submit(model)" #model="ngForm">
	<app-company-combobox [(selection)]="estimate.client"></app-company-combobox>
	<mat-form-field>
		<input matInput type="number" name="amount" placeholder="Montant"
			[(ngModel)]="estimate.amount" min="O" step=0.05 required />
	</mat-form-field>
	<field-date [(selection)]="estimate.mdCreation" label="Date de création"
		name="creationDate"></field-date>
	<section>
		<mat-checkbox name="signed" [(ngModel)]="estimate.signed">
			Signé
		</mat-checkbox>
	</section>
	<button mat-raised-button color="primary" [disabled]="!model.form.valid">Valider</button>
</form>