<h2>{{ new ? 'Créer un nouveau devis' : 'Mettre un devis à jour' }}</h2>
<form (ngSubmit)="submit()" #model="ngForm">
	<mat-form-field>
		<mat-select name="clientId" placeholder="Client"
			[(ngModel)]="estimate.clientId">
			<mat-option value="">Sélectionner...</mat-option>
			<mat-option *ngFor="let company of companies" [value]="company.id">
				{{company.name}} ({{company.trigram}})
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<input matInput type="number" name="amount" placeholder="Montant"
			[(ngModel)]="estimate.amount" min="O" step=0.05 required />
	</mat-form-field>
	<mat-form-field>
		<input matInput type="date" name="date" placeholder="Date" 
			[ngModel]="estimate.date | date:'yyyy-MM-dd'" (ngModelChange)="estimate.date = $event" />
	</mat-form-field>
	<section>
		<mat-checkbox name="signed" [(ngModel)]="estimate.signed">
			Signé
		</mat-checkbox>
	</section>
	<button class="btn btn-primary" [disabled]="!model.form.valid">Valider</button>
</form>