<app-layout-list [listTitle]="details?.title || 'Tous les dvs'" [filter]="details?.filter" [sort]="details?.sort"
	[data]="data" [template]="entityTemplate" (onModify)="modifySelected($event)" (onDelete)="deleteSelected($event)">
	<th>Id</th>
	<th>Client</th>
	<th>Montant</th>
	<th>Date</th>
	<th>Signé ?</th>
	<ng-template let-estimate #entityTemplate>
		<td>{{ estimate.id }}</td>
		<td>
			<app-company-ref [id]="estimate.clientId"></app-company-ref>
		</td>
		<td>{{ estimate.amount }} €</td>
		<td>{{ estimate.date | date }}</td>
		<td>{{ estimate.signed ? 'Y' : 'N' }}</td>
	</ng-template>
</app-layout-list>